body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: Arial;
    background: #f2f2f2;
}

.quiz-box {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    padding: 10px;
}